.header {

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  width: 100%;
  padding: 0 10px;
  border-bottom: 1px solid orange;

  &__logo {
    width: 100px;
  }

  &__nav {
    display: flex;
  }

}

.nav {
  &__link {
    padding: 10px;
  }
}


